body {
    background-color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: auto;
    width: 40%;
    margin-top: 15%;
    border: 2px solid red;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: transparent;
    border: 1.3px solid white;
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    margin-top: 2rem;
}

.btn:hover{
    background-color: cyan;
    transition: all 0.4s;
}

p{
    display: inline-block;
    margin-top: 2rem;
}
